In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\sravyareddypati\desktop\django-ecommerce\test\lib\site-packages (0.24.2)
Requirement already satisfied: scipy>=0.19.1 in c:\users\sravyareddypati\desktop\django-ecommerce\test\lib\site-packages (from scikit-learn) (1.5.4)
Requirement already satisfied: numpy>=1.13.3 in c:\users\sravyareddypati\desktop\django-ecommerce\test\lib\site-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sravyareddypati\desktop\django-ecommerce\test\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\sravyareddypati\desktop\django-ecommerce\test\lib\site-packages (from scikit-learn) (1.1.1)

In [4]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

In [5]:
data=pd.read_csv('Social_Network_Ads.csv')

In [6]:
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [7]:
x=data.iloc[:,0:2].values
y=data.iloc[:,-1].values

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scalar=StandardScaler()

In [11]:
x_train=scalar.fit_transform(x_train)
x_test=scalar.transform(x_test)

In [12]:
knn=KNeighborsClassifier(n_neighbors=5)

In [13]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [14]:
def predict_new():
    age=int(input("Enter age"))
    salary=int(input("Enter Salary"))
    x_new=np.array([[age],[salary]]).reshape(1,2)
    x_new=scalar.transform(x_new)
    result=knn.predict(x_new)
    if result==0:
        print("Will not purchase")
    else:
        print("Will purchase")
predict_new()

Enter age30
Enter Salary50000
Will not purchase