In [1]:
import numpy as np
import pandas as pd

In [2]:
tennis=pd.read_csv('Tennisdataset.csv')
tennis

     outlook  temp humidity   wind play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [3]:
ct_outlook=pd.crosstab(tennis['outlook'],tennis['play'],margins=True)

In [4]:
ct_outlook

play      no  yes  All
outlook
overcast   0    4    4
rainy      2    3    5
sunny      3    2    5
All        5    9   14

In [5]:
ct_temp=pd.crosstab(tennis['temp'],tennis['play'],margins=True)
ct_temp

play  no  yes  All
temp
cool   1    3    4
hot    2    2    4
mild   2    4    6
All    5    9   14

In [7]:
ct_humidity=pd.crosstab(tennis['humidity'],tennis['play'],margins=True)
ct_humidity

play      no  yes  All
humidity
high       4    3    7
normal     1    6    7
All        5    9   14

In [12]:
ct_windy=pd.crosstab(tennis['wind'],tennis['play'],margins=True)
ct_windy

play   no  yes  All
wind
False   2    6    8
True    3    3    6
All     5    9   14

In [13]:
ct_play=pd.crosstab(index=tennis['play'],columns="count",margins=True)
ct_play

col_0  count  All
play
no         5    5
yes        9    9
All       14   14

In [14]:
p_yes = ct_play.iloc[1,0] /ct_play.iloc[2,0] * ct_outlook.iloc[2,1]/ct_outlook.iloc[3,1]* ct_temp.iloc[1,1]/ct_temp.iloc[3,1]*ct_humidity.iloc[0,1]/ct_humidity.iloc[2,1]*ct_windy.iloc[1,1]/ct_windy.iloc[2,1]

In [15]:
print('The probability of tennis played with given conditions is', '%.3f'%p_yes)

The probability of tennis played with given conditions is 0.004

In [17]:
p_no = ct_play.iloc[0,0] /ct_play.iloc[2,0] * ct_outlook.iloc[2,0]/ct_outlook.iloc[3,0] * ct_temp.iloc[1,0]/ct_temp.iloc[3,0]*ct_humidity.iloc[0,0]/ct_humidity.iloc[2,0]*ct_windy.iloc[1,0]/ct_windy.iloc[2,0]

In [18]:
print('The probability of tennis not played with given conditions is', '%.3f'%p_no)

The probability of tennis not played with given conditions is 0.041

In [19]:
if p_yes > p_no:
      print('tennis match will be conducted when the outlook is sunny, the temperature is hot, there is high humidity and windy is higher')
else:
      print('tennis match will not be conducted when the outlook is sunny, the temperature is hot, there is high humidity and windy is higher')

tennis match will not be conducted when the outlook is sunny, the temperature is hot, there is high humidity and windy is higher